.t-shirt-details{
    background-color: gray;
    border: 2px solid blue;
    border-radius: 4px;
    margin: 10px;
}
.t-shirt-details img{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 4px;
    margin-top: 20px;
}
.btn-buy{
    background-color: chartreuse;
    border: 2px solid blue;
    border-radius: 4px;
}